RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f 
#We will want these two disabled so that
RewriteCond %{REQUEST_FILENAME} !-d 
#personal files cannot be discovered

#RewriteRule ^([a-zA-Z]+)$ /index.php?page=home/index&lookup=$1 [QSA] 
#RewriteRule ^([0-9]+)$ /index.php?page=home/index&id=$1 [L,QSA] 
RewriteRule ^(.*?)/(.*)$ /index.php?page=home/index&id=$1&index=$2 [L,QSA] 