@charset "utf-8";
/* CSS Document */

/* Based on Eric Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, cite, em, img, strike, strong,  ol, ul, li, fieldset, form {margin:0; padding:0; border:0; outline:0 !important; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; list-style:none;}
	b, strong {font-weight:600;}
	em {font-style:italic;}

* {position:relative; cursor:default;}
a, a span {cursor:pointer;}

/*@font-face {
    font-family: 'Myriad Pro';
    src: url('myriadpro-webfont.eot');
    src: url('myriadpro-webfont.eot?iefix') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('myriadpro-semibold-webfont.eot');
    src: url('myriadpro-semibold-webfont.eot?iefix') format('eot');
    font-weight: normal;
    font-style: normal;
}*/

html {overflow:hidden; background-color:#323333; display:block;
	color:#fff;	width:744px; height:400px;}
	
body {background:url(../images/bgBody.png) no-repeat left top #4d4d4d;
	width:100%; height:100%; position:absolute; /*border:1px solid #000;*/ overflow:hidden; display:block;
	font-size:13px; font-family:"Myriad Pro", Arial, Helvetica, sans-serif; color:#fff;}
	
a {color:#5F98D8;}

.textShadow, #finish {speak:none !important;}

#header {width:744px; height:32px; display:block; text-indent:-1000em; /*border-bottom:1px solid #000;*/ cursor:default; }
	#header h1 {height:23px; width:730px; display:block; text-indent:0px; font-family:Tahoma, Arial, Helvetica, sans-serif; font-weight:bold; z-index:200;}
		#header h1 span.text {position:absolute !important; z-index:100; top:7px; left:29px;}
		#header h1 span.textShadow {position:absolute !important; z-index:50; color:black; top:8px; left:30px;}
		#header h1 img {position:absolute; left:7px; top:8px;}
	/*#header ul {display:block; width:38px; height:17px; position:absolute; top:8px; left:696px;}
	#header ul li {display:block; float:right; width:19px; height:17px; overflow:hidden;}*/
		#header div.min {display:block; float:right; width:19px; height:17px; overflow:hidden; position:absolute; top:8px; left:694px;}
		#header div.close {display:block; float:right; width:19px; height:17px; overflow:hidden; position:absolute; top:8px; left:718px;}
	#header div a {display:block; width:100%; position:relative; z-index:500;}
	#header #drag {position:absolute; height:32px; width:665px; top:0; left:24px; z-index:400; display:block; }
			
/*#borderCorrection {display:block; width:1px; height:407px; top:0px; right:0px; position:absolute; background-color:#000; float:left; z-index:50;}*/

#carousel {display:block; overflow:hidden; position:absolute; top:302px; left:8px;}
  
#downloads {border-width:0; overflow:hidden; position:absolute; top:33px; left:8px; width:728px; height:268px;}
	#downloads table {width:100%; border-collapse:collapse; margin:14px 0 0 1px;}
		#downloads table tr {}
		#downloads table tr td {border-width:0px; height:25px;}
		#downloads table tr td.downloadName {width:240px; padding:14px 0;}
		#downloads table tr td.downloadName p img {float:left; margin-right:13px; top:2px;}
			#downloads table tr td.downloadName p span.text {position:relative; z-index:100; top:9px;}
			#downloads table tr td.downloadName p span.textShadow {color:black; display:block; left:1px; position:relative; top:10px; z-index:50; margin-bottom:-16px; height:16px;}
		#downloads table tr td.downloadName p {margin-left:10px; font-size:14px;}
		#downloads table tr td.downloadBar {top:2px; text-align:left; padding:14px 0;}
		#downloads table tr td.downloadBar span.downloadBarEmpty {background:url(../images/bgDownloadBarEmpty.png) no-repeat left top; text-align:left; width:430px; height:23px; 
			float:left; display:block; margin:12px 2px -23px -1px; position:relative; bottom:2px}
		#downloads table tr td.downloadBar span.downloadBarEmpty p {}
		#downloads table tr td.downloadBar span.downloadBarEmpty span.downloadBarFull {background:url(../images/bgDownloadBarFull.png) no-repeat left top; 
			width:426px; height:18px; display:block; margin-left:2px;}
		#downloads table tr td.downloadBar p.percentage {font-size:13px; text-align:right; right:27px; top:10px;}
			#downloads table tr td.downloadBar p.percentage span.text {position:relative; z-index:100; color:#cbcbcb;}
			#downloads table tr td.downloadBar p.percentage span.textShadow {display:block; height:15px; left:1px; margin-bottom:-16px; 
				position:relative; z-index:50; color:black;}
			
		#downloads table tr td p {position:relative;}
		#downloads table tr td p.downloadStatus {position:relative; height:16px; font-size:12px; font-style:italic; float:left; clear:both; top:9px; width:428px;}
			#downloads table tr td p.downloadStatus span.text {position:relative; z-index:100; color:#cbcbcb;}
				#downloads table tr td p.downloadStatus span.text a {color:#5F98D8;}
			#downloads table tr td p.downloadStatus span.textShadow {display:block; height:15px; left:1px; margin-bottom:-16px; 
				position:relative; z-index:50; color:black;}
				#downloads table tr td p.downloadStatus span.textShadow a {color:#000;}
		
		#downloads table tr td p.downloadStatus img {display:none;}
		#downloads table tr td.downloadBar img {position:relative; margin:0 -37px -37px 0; z-index:150; display:none;}
				
		#downloads table tr.alert td p.downloadStatus img {display:block; float:left; margin-top:-2px;}
		#downloads table tr.alert td p.downloadStatus span {left:17px; height:30px; overflow:hidden;}
		#downloads table tr.alert td p.downloadStatus span.textShadow {margin-bottom:-31px; }
		#downloads table tr.alert td span.downloadBarEmpty span.downloadBarFull {background:url(../images/bgDownloadBarError.png) no-repeat left top; }
		
		#downloads table tr.complete td p.downloadStatus {text-align:right;}
		#downloads table tr.complete td img {display:block;}
					
		#downloads table tr.alertcomplete td p.downloadStatus img {display:block; float:left; margin-top:-2px;}
		#downloads table tr.alertcomplete td p.downloadStatus span {margin-left:17px;}
		#downloads table tr.alertcomplete td span.downloadBarEmpty span.downloadBarFull {background:url(../images/bgDownloadBarError.png) no-repeat left top; }
		#downloads table tr.alertcomplete td img {display:block;}
					
#version {position:absolute; bottom:3px; left:3px; color:#4d4d4d; cursor:default; font-size:10px;}

a.button {background:url(../images/buttonCenter.png) repeat-x left top; height:31px; display:block; text-decoration:none; float:left; cursor:pointer; min-width:5px; width:auto !important, width:5px; white-space:nowrap;}
	a.button:hover, a.button:focus {background-position:left bottom;}
	a.button span {height:23px; margin-bottom:-32px; display:block; padding:8px 25px 0;
		font-family:'Myriad Pro', Arial, Helvetica, sans-serif; text-align:center; 
		font-size:14px; text-decoration:none; text-transform:uppercase; color:#fff; letter-spacing:0.1em; font-weight:600;
		background:url(../images/buttonLeft.png) no-repeat left top;}
	a.button span.textShadow {height:23px; color:#000; font-weight:600; background:none; background:url(../images/buttonRight.png) no-repeat right top;}
	a.button:hover span, a.button:focus span {background-position:left bottom;}
	a.button:hover span.textShadow, a.button:focus span.textShadow {background-position:right bottom;}


form.allComplete {height:55px; top:225px; /*left:330px;*/ position:absolute; width:710px;}
form .checkbox {background:url(../images/bgCheckbox.png) left top no-repeat; width:15px; height:15px; display:block; margin-right:8px; float:left;
	/*position:absolute;*/ left:0px; overflow:hidden; float:right;}
form label {display:block; clear:left; margin-top:6px;}
	form label span {position:relative; z-index:100; height:16px; float:right;
		font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
		font-size:14px; font-weight:600; text-decoration:none; color:#fff; letter-spacing:.05em; margin-right:15px;}
	form label span.textShadow {display:none; height:15px; left:1px; margin-bottom:-16px; 
				position:relative; z-index:50; color:black; top:-16px;}

form.allComplete a.button {background:url(../images/buttonCenterFinished.png) repeat-x left top; height:33px; float:right;
	cursor:pointer; min-width:5px; width:auto !important, width:5px;}
	form.allComplete a.button:hover {background-position:left bottom;}
	form.allComplete a.button:active {margin-top:1px;}
	form.allComplete a.button span {height:26px; margin-bottom:-34px; display:block; padding:8px 25px 0;
		font-family:'Myriad Pro', Arial, Helvetica, sans-serif; text-align:center; 
		font-size:14px; text-decoration:none; text-transform:uppercase; color:#fff; letter-spacing:0.1em; font-weight:600;
		background:url(../images/buttonLeftFinished.png) no-repeat left top;}
	form.allComplete a.button span.textShadow {height:25px; color:#000; font-weight:600; background:none; background:url(../images/buttonRightFinished.png) no-repeat right top;}
	form.allComplete a.button:hover span {background-position:left bottom;}
	form.allComplete a.button:hover span.textShadow {background-position:right bottom;}

.chromeLaunch {display:none;}
	
#globalError, #proxyError {display:block; width:728px; height:265px; position:absolute; top:34px; left:8px; z-index:1000; background:#323333;}
	#globalError img, #proxyError img {position:absolute; left:20px; top:20px;}

	#globalError h1, #proxyError h1 {font-family:'Myriad Pro', Arial, Helvetica, sans-serif; font-size:16px; font-weight:600;}
	#globalError h1 span, #proxyError h1 span {position:absolute; top:25px; left:70px; z-index:100; color:#fff;}
	#globalError h1 span.textShadow, #proxyError h1 span.textShadow {position:absolute; top:26px; left:71px; z-index:50; color:#000;}
	
	#globalError p span, #proxyError p span {position:absolute; top:70px; left:70px; z-index:100; color:#fff; font-family:'Myriad Pro', Arial, Helvetica, sans-serif; width:80%;}
	#globalError p span.textShadow, #proxyError p span.textShadow {position:absolute; top:71px; left:71px; z-index:50; color:#000;}
		#globalError span.textShadow a, #proxyError span.textShadow a {color:#000 !important;}
		#globalError span.textShadow a:hover, #proxyError span.textShadow a:hover {text-decoration:none;}
		
	#proxyError #proxyErrorInfo {top:90px; left:70px;}
	#proxyError #proxyErrorInfo span {position:relative; top:0; left:0; color:#fff;}
	#proxyError #proxyErrorInfo #proxyErrorInfoMessage {display:block; height:15px; width:658px; margin-bottom:-14px;}
	#proxyError #proxyErrorInfo #proxyErrorMessageShadow {float:left; clear:left; color:#000000; left:1px;}
	#proxyError #proxyErrorInfo #proxyErrorMessageShadow span {color:#000000;}
	#proxyError #proxyUsername {white-space:nowrap;}
    #proxyError #proxyUsernameShadow {white-space:nowrap;}
    #proxyError #proxyPassword {white-space:nowrap;}
    #proxyError #proxyPasswordShadow {white-space:nowrap;}
    
	#proxyError form {position:absolute; top:125px; left:70px; display:block; width:648px; height:50px;}
	#proxyError form label span {float:none; display:block; height:17px; }
	#proxyError form div {float:left; width:160px;}
	#proxyError form #username {margin-right:15px;}
	
	#proxyErrorReasonContainer {z-index:1500;}
	#proxyErrorReason {top:68px; left:40px; width:608px; background-color:#323333; border:1px solid #FFFFFF; z-index:1001; padding:20px 20px 68px; position:absolute;}
	#proxyErrorReasonBackground {display:block; top:1px; left:8px; height:269px; width:728px; background:#000; -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50; z-index:1000;}
	#proxyErrorReason span {color:#fff; }
	#proxyErrorReason .text {z-index:1001;}
	#proxyErrorReason .textShadow {float:left; clear:left; color:#000000; left:21px; top:21px; position:absolute; display:block; width:608px;}
	#proxyErrorReason .textShadow span {color:#000000; }
	#proxyErrorReason a.button {position:absolute; bottom:20px; left:20px;}
	#proxyErrorReason a.button span {width:auto; top:-1px;}
	#proxyErrorReason a.button span.textShadow {left:1px; top:0px; width:auto;}

#globalErrorLeftButton, #proxyErrorLeftButton {position:absolute; top:225px; left:17px;}
#globalErrorRightButton, #proxyErrorRightButton {position:absolute; top:225px; right:17px;}
		
#closePrograms {display:block; width:728px; height:265px; position:absolute; top:34px; left:8px; z-index:1000; background:#323333;}
	#closePrograms img {position:absolute; left:20px; top:20px;}

	#closePrograms h1 {font-family:'Myriad Pro', Arial, Helvetica, sans-serif; width:90%; font-size:16px; font-style:italic;}
	#closePrograms h1 span {position:absolute; top:25px; left:30px; z-index:100; color:#fff;}
	#closePrograms h1 span.textShadow {position:absolute; top:26px; left:31px; z-index:50; color:#000;}
	
	#closePrograms ul {position:absolute; top:70px; left:70px; z-index:100; color:#fff; font-family:'Myriad Pro', Arial, Helvetica, sans-serif; width:80%;}
	
	#closePrograms ul li {background:url(../images/bgCloseProgram.png) left top no-repeat; height:35px;}
	#closePrograms ul li span {float:left; clear:left; height:16px; margin-bottom:-15px; z-index:100; top:6px; left:40px}
	#closePrograms ul li span.textShadow {left:41px; color:#000; z-index:50;}

	#closePrograms span.textShadow a {color:#000 !important;}
	#closePrograms span.textShadow a:hover {text-decoration:none;}

	#closePrograms a.button {position:absolute; top:225px; right:17px;}
	#closePrograms a.button:hover {background-position:left bottom;}
	#closePrograms a.button img.buttonBorderLeft, #closePrograms a.button img.buttonBorderRight {position:absolute; top:0;}
